@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.exo-regular {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo-bold {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.exo-bolder {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
